.componentChild {
    width: 33.3%;
    text-align: center;
    line-height: 1.4em;
    position: relative;
    bottom: 1.5em;
}

.tag {
    font-size: .75em;
    font-weight: bold;
}

button {
    background-color: #fd521F;
    border-radius: .5em;
    cursor: pointer;
    border-width: 0em;
    padding: .45em;
}